// Theme Information
//--------------------------------------------//
$theme_name: "Northeastern University";
$theme_uri: "https://www.northeastern.edu/veteransmemorial";
$theme_description: "Starter theme for Northeastern University websites.";
$theme_version: "1.0";
$theme_author: "Northeastern University";
$theme_author_uri: "https://northeastern.edu";
$theme_license: "MIT";
$theme_tags: "Northeastern, Marketing";
