/**
 * partials/nav
 * ---
 * Menus
 */

 .opened {
   position: absolute;
 }


 .nav-wrapper {
   height:80px;
 }

nav.mainnav{
  position: absolute;
  right: 0;
  top: 0;
  height: nth($header-height,2);
  overflow:hidden;
  & > div.mobilenav{
    display: none;
    float: right;
    width: 100%;
    color: rgba($brand_colors-black,0.6);
    text-align: right;
    height: nth($header-height,2);
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: nth($header-height,2);
    &:hover,
    &:focus,
    &:active{
      color: rgba($brand_colors-black,1.0);
    }
  }

  & ul{
    list-style: none;
    list-style-type: none;
    height: 100%;
    & > li{
      height: 100%;
      display: inline-block;
      margin: 0 0 0 nth($gutter,1);
      position: relative;
      // border-bottom:5px solid rgba($brand_colors-red,0.0);
      &:first-child{
        margin: 0 0 0 0;
      }

      & > a{
        color: rgba($brand_colors-black,0.6);
        font-size: 1.4rem;
        font-weight: 400;
        // text-transform: capitalize;
        line-height: nth($header-height,2);
        padding-bottom:27px;
        border-bottom:0px solid rgba($brand_colors-red,1.0);

        &:hover,
        &:focus{
          color: rgba($brand_colors-black,1.0);
          border-bottom:5px solid rgba($brand_colors-red,1.0);

        }
      }


      // &:hover,
      // &:focus {
      //   border-bottom:5px solid rgba($brand_colors-red,1.0);
      // }
      &.current_page_item{
        border-bottom:5px solid rgba($brand_colors-red,1.0);
        & > a{
          color: rgba($brand_colors-black,1.0);
        }
      }
    }
  }

.mobilenav {
  cursor: pointer;
}
.show {
  display:block;
}






  @media only screen and (max-width: $mobile-nav){
    height: auto;
    width:100%;
    & > div.mobilenav{
      display: block;
    }
    & ul{
      display:none;
      clear: both;
      height: auto;
      background: rgba($brand_colors-white, 1.0);
      border-right: solid rgba($brand_colors-grayW, 1.0) 1px;
      border-bottom: solid rgba($brand_colors-grayW, 1.0) 1px;
      border-left: solid rgba($brand_colors-grayW, 1.0) 1px;
      width:92vw;
      & > li{
        display: block;
        margin: 0 0 0 0;
        border-bottom: solid rgba($brand_colors-grayW, 1.0) 1px;
        height: auto;
        cursor:pointer;
        & > a{
          padding: 0 nth($gutter,1) 0 nth($gutter,1);
          height: auto;
          line-height: 50px;
          width: 100%;
          display: block;
          padding-bottom:0;
          &:hover,
          &:focus,
          &:active{
            outline: 0;
            color: rgba($brand_colors-black, 1.0);
            cursor: pointer;
            background: rgba($brand_colors-beige, 1.0);
            border-bottom:0px solid rgba($brand_colors-red,1.0);
          }
        }
        &:last-child{
          border: none;
        }
        &:hover,
        &:focus {
          border-bottom:0px solid rgba($brand_colors-red,1.0);
          border-bottom: solid rgba($brand_colors-grayW, 1.0) 1px;
        }
        &.current_page_item{
          border-bottom:0px solid rgba($brand_colors-red,1.0);
          background: rgba($brand_colors-beige, 1.0);
          & > a{
            color: rgba($brand_colors-black,1.0);
          }
        }
      }
    }



    .nav-wrapper {
      position:relative;
      width:100%;
      float:left;
      overflow-y:scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      &.expanded {
        position: fixed;
        top:124px;
        height:calc(100% - 144px);
        min-height: calc(100% - 144px);
      }
    }
  }




  @media only screen and (max-width: 600px){
    right: 0;
    & ul{
      & > li{
        margin: 0 0 0 0;
        & > a {
          font-size:14px;
          line-height:44px;
        }
      }
    }
  }
}

@media only screen and (max-width: nth($breakpoint,3)){
  .noscroll {
    overflow: hidden;
    position: fixed;
  }
}
