/**
 * partials/page
 * ---
 */



main{
  width: 100%;
  margin: (nth($header-height,2) + $globalnav-height) 0 0 0;
  flex: 1 0 auto;
  & > section{
    overflow: hidden;
    width:100%;
    position:relative;
    // padding: 0 0 nth($gutter,4) 0;
    padding:0 0 0 0;
    & .ci__wrapper {
      width: nth($content-width,3);
      margin:0 auto;
    }

    h1 {
      //margin:0 0 nth($gutter,2) 0;
      margin:6px 0 18px 0;
      @include font-9b-l;
      line-height: 4.8rem;
      // letter-spacing:1.43px;
    }

    @media only screen and (max-width: nth($breakpoint,1)){//1280px
      h1 {
        @include font-6b-l;
      }
    }

    @media only screen and (max-width: nth($breakpoint,2)){//959px
      h1 {
      // @include font-5b-l;
      // line-height:2.6rem;
      font-size: 3.2rem;
      line-height:3.9rem;
      }
    }

    p {
      margin:0 0 nth($gutter,3) 0;
      letter-spacing: normal;
      &:last-child {
        margin:0;
      }
    }
    @media only screen and (max-width: nth($breakpoint,2)){//959px
      & .ci__wrapper {
        flex-direction: column;
        width: nth($content-width,2);
      }
    }

    @media only screen and (max-width: nth($breakpoint,3)){//959px
      & .ci__wrapper {

        width: 94vw;
      }
    }

    // & h2 {
    //   padding-bottom:nth($gutter,1);
    //   @include font-7b-l;
    //   & > span {
    //     position: relative;
    //     // display: inline-block;
    //     &:after {
    //       @include section-title;
    //     }
    //   }
    // }
    // @media only screen and (max-width: nth($breakpoint,1)){
    //   & h2 {
    //     @include font-5b-l;
    //   }
    // }
    // @media only screen and (max-width: nth($breakpoint,2)){
    //   & h2 {
    //     @include font-3b-l;
    //     padding-bottom:nth($gutter,2);
    //   }
    // }
    // @media only screen and (max-width: nth($breakpoint,3)){
    //   & h2 {
    //     padding-bottom:nth($gutter,3);
    //   }
    // }

    h3 {
       @include font-20-b;
    }
    @media only screen and (max-width: nth($breakpoint,1)){
    h3 {
       @include font-6b-c;
      }
    }
    @media only screen and (max-width: nth($breakpoint,2)){
    h3 {
       @include font-5b-c;
      }
    }

    strong {
      font-weight:700;
    }

    p {
      & > a {
        color:rgba(45, 110, 175, 1.0);
        font-weight:700;
        &:hover,
        &:focus,
        &:active{
          color:rgba(45, 110, 175, 1.0);
          border-bottom:2px solid rgba(45, 110, 175, 1.0);
        }
      }
    }

  }











  section.head-block-wrapper {
    width: nth($content-width,3);
    margin: 0 auto;
    overflow: visible;
    & > div.head-block {
      width: nth($content-width,5);
      // margin: 0 auto;
      margin:0;
      // padding-top:nth($gutter,4);
      padding-top:72px;
      & > h1 {
        line-height:1;
        margin-bottom:18px;
      }
      & > p {
        font-weight: 300;
        margin-bottom:27px;
        &:last-of-type {
          margin-bottom: 50px;
        }
      }
      & > h2 {
        font-size: 34px;
        line-height: 48px;
        font-weight: 300;
        color: #000;
        text-align: left;
        padding-bottom: .5em;
        margin-bottom: .5em;
        padding: 0 0 0 30px;
      }
    }

  }



  @media only screen and (max-width: nth($breakpoint,2)){//959px
    section.head-block-wrapper {
      width: nth($content-width,2);
      margin: 0 auto;
      & > div.head-block {
        width: nth($content-width,2);
        // margin: 0 auto;
        margin:0;
        // padding-top:nth($gutter,4);
        padding-top:72px;
        & > h1 {
          line-height:1;
          margin-bottom:18px;
        }
        & > p {
          font-weight: 300;
          margin-bottom:27px;
          &:last-of-type {
            margin-bottom: 50px;
          }
        }
        & > h2 {
          font-size: 34px;
          line-height: 48px;
          font-weight: 300;
          color: #000;
          text-align: left;
          padding-bottom: .5em;
          margin-bottom: .5em;
          padding: 0 0 0 30px;
        }
      }

    }
  }



  @media only screen and (max-width: nth($breakpoint,3)){//620px
    section.head-block-wrapper {
      width: 94vw;

      & > div.head-block {
        width: 94vw;
        padding-top:48px;
        & > h1 {
          font-size:3.2rem;
          line-height: 3.4rem;
          margin-bottom:11px;
        }
        & > p {
          margin-bottom:18px;
          &:last-of-type {

          }
        }
        & > h2 {

        }
      }

    }
  }



  // @media only screen and (max-width: nth($breakpoint,3)){
  //   margin: (nth($header-height,2) + $globalnav-height + nth($gutter,2)) 0 nth($gutter,2) 0;
  //   & > section{
  //     width: auto;
  //     margin: 0 nth($gutter,3) nth($gutter,2) nth($gutter,3);
  //     &.fullwidth{
  //       margin: 0 0 nth($gutter,2) 0;
  //     }
  //   }
  // }







}
